<br> <br>

<mat-card>
  <mat-card-header>
    Player List
    <br> <br>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Start-Place Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input name="name" matInput [(ngModel)]="element.name" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- First-Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input name="firstName" matInput [(ngModel)]="element.firstName" [disabled]="element.mode!='edit'">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Last-Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input name="lastName" matInput [(ngModel)]="element.lastName" [disabled]="element.mode!='edit'">
          </mat-form-field>
        </td>
      </ng-container>

      <!--
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.mode=='edit'">
            <button mat-raised-button (click)="update(element)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-raised-button (click)="cancel(element)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          <div *ngIf="element.mode!='edit'">
            <button mat-raised-button (click)="edit(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button (click)="delete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>



<br>
