<br> <br>

<mat-card>
  <mat-card-header>
    Player List
    &nbsp; &nbsp;
    <button mat-raised-button (click)="importTournamentsAndSave()">
      <mat-icon>import_export</mat-icon> Import Tournaments
    </button>
    <button mat-raised-button (click)="importPlayerIds()">
      <mat-icon>import_export</mat-icon> Import Player Ids
    </button>
    <button mat-raised-button (click)="importPlayerDetails()">
      <mat-icon>import_export</mat-icon> Import Player Tournaments
    </button>
    <button mat-raised-button (click)="calculateRatings()">
      <mat-icon>code</mat-icon> Calculate
    </button>
    &nbsp; &nbsp;
    <br> <br>
  </mat-card-header>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input name="name" matInput [(ngModel)]="element.name" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- pid Column -->
      <ng-container matColumnDef="pid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DSB-Number </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input name="name" matInput [(ngModel)]="element.pid" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- birthyear Column -->
      <ng-container matColumnDef="birthyear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="small"> Year of Birth </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input name="name" matInput [(ngModel)]="element.yearOfBirth" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- may old Column -->
      <ng-container matColumnDef="mayOld">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> May 2018 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[1]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- july old Column -->
      <ng-container matColumnDef="julOld">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> July 2018 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[2]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- may old Column -->
      <ng-container matColumnDef="sepOld">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sept 2018 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[3]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- may old Column -->
      <ng-container matColumnDef="novOld">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nov 2018 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[4]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- may old Column -->
      <ng-container matColumnDef="janNew">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jan 2019 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[5]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- may old Column -->
      <ng-container matColumnDef="marNew">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> March 2019 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[6]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- may old Column -->
      <ng-container matColumnDef="mayNew">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> May 2019 </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="small">
            <input name="name" matInput [(ngModel)]="element.ratings[7]" [disabled]="true">
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <button mat-raised-button (click)="searchPlayer(element)">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button (click)="getPlayerDetails(element)">
              <mat-icon>details</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>



<br>
