<br>

<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let importedTournament of importedTournaments">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{importedTournament.year}}
        </mat-panel-title>
        <mat-panel-description>
          Last update: {{importedTournament.tsUpdate | date:'medium'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-quota-tournament-imported-tournaments-table [importedTournament]="importedTournament"></app-quota-tournament-imported-tournaments-table>

    </mat-expansion-panel>
  </mat-accordion>
</div>

<br>

